[Unit]
Description=1C:Fresh Application Gateway
Wants=network.target
After=network.target

[Service]
Type=simple
User=appgate
Group=grpappgate
WorkingDirectory=/opt/1C/1cfresh/appgate
EnvironmentFile=/etc/default/appgate
ExecStart=/usr/bin/java -Dlogback.configurationFile=${LOGBACK_SETTINGS} com._1c.v8.appgate.Main --settings ${GATE_SETTINGS}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
