[Unit]
Description=1C:Enterprise Remote Administration Service (%i)
After=network.target

[Service]
Type=simple

# Name of the cluster host
Environment=SRV1CV8_HOST=localhost

# Number of the cluster port
Environment=SRV1CV8_PORT=1540

# Nubler of the RAS port
Environment=RAS1CV8_PORT=1542

ExecStart=/bin/sh -c "/opt/1cv8/x86_64/%i/ras cluster --port ${RAS1CV8_PORT} ${SRV1CV8_HOST}:${SRV1CV8_PORT}"

KillSignal=SIGINT
PrivateTmp=true
Restart=on-failure
RestartSec=5
User=usr1cv8
Group=grp1cv8

[Install]
DefaultInstance=default
WantedBy=multi-user.target

