# 1C Enterprise Server 8.3 Service from https://renbuar.blogspot.com

[Unit]
Description=1C:Enterprise Server
Wants=network.target
After=network.target

[Service]
#MemoryAccounting=true
#MemoryLimit=15G
Type=simple
Environment=LANG=ru_RU.UTF-8
Environment=TZ=Europe/Moscow
Environment=PORT=1540
Environment=REGPORT=1541
Environment=RANGE=1560:1690
Environment=DATADIR=/home/usr1cv8/.v8.3.15.1656/1C/1Cv83
PrivateTmp=yes
ExecStart=/opt/1C/v8.3.15.1656/x86_64/ragent -d $DATADIR -port $PORT -regport $REGPORT -range $RANGE

# -seclev 0 -debug
Restart=always
RestartSec=3
User=usr1cv8

[Install]
WantedBy=multi-user.target
